* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.25s ease;
  text-decoration: none;
}

:root {
  /* main */
  --red: #e4646e;
  --purple: #bb72e9;
  --blue: #3996db;
  --green: #82bc4f;
  --yellow: #eabd5f;

  /* base */
  --gray-100: #e2e4e9;
  --gray-200: #c0c4ce;
  --gray-300: #878ea1;
  --gray-400: #292c34;
  --gray-500: #16181d;
  --gray-600: #0d0e11;

  /* ---- Fonts ---- */

  /* Asap */
  --font-family-Asap: "Asap", sans-serif;
  --text-lg: 700 56px/1.2 var(--font-family-Asap);
  --title-md: 700 24px/1.2 var(--font-family-Asap);
  --title-sm: 700 16px/1.2 var(--font-family-Asap);

  /* Inconsolata */
  --font-family-Inconsolata: "Inconsolata", sans-serif;
  --subtitle: 400 20px/1.4 var(--font-family-Inconsolata);

  /* Maven Pro */
  --font-family-Maven-Pro: "Maven Pro", sans-serif;
  --text-md: 400 16px/1.4 var(--font-family-Maven-Pro);
  --text-sm: 400 14px/1.4 var(--font-family-Maven-Pro);
}
