#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 750px;
  background: url(../assets/images/Background_Intro.png) center/cover no-repeat;

  .avatar {
    position: relative;

    img {
      width: 136px;
      height: 136px;
      border: 2px solid var(--red);
      border-radius: 50%;
      padding: 5px;
      margin-bottom: 56px;
    }

    svg {
      position: absolute;
      bottom: 60px;
      right: 5px;
    }
  }

  .dev-info {
    text-align: center;
    color: var(--gray-100);
    margin-bottom: 80px;

    h1 {
      margin-bottom: 20px;
    }
  }

  .tags {
    gap: 16px;
    margin-bottom: 94px;
    .tag {
      align-items: center;
      gap: 8px;
      padding: 8px 16px;
      background-color: var(--gray-400);
      border-radius: 24px;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}

#projects {
  background-color: var(--gray-500);
  padding-block: 72px 144px;

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 56px;
  }

  .cards {
    grid-template-columns: repeat(3, 330px);
    row-gap: 24px;
    column-gap: 24px;
    justify-content: center;

    .project-card {
      padding: 12px;
      background-color: var(--gray-400);
      border-radius: 8px;
      width: 100%;
      max-width: 333px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      transition: 0.2s ease;

      &:hover {
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3),
          0 0 10px rgba(255, 255, 255, 0.4);
      }

      img {
        border-radius: 8px;
        width: 100%;
        height: 156px;
        object-fit: cover;
      }

      .content-card {
        padding: 4px;
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }
  }
}

#services {
  padding-block: 88px 120px;
  background-color: var(--gray-600);

  header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: 8px;
    margin-bottom: 56px;
  }

  .card-services {
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 280px);
    column-gap: 24px;

    .card {
      align-content: center;
      height: 150px;
      padding: 20px;
      border: 2px solid var(--gray-500);
      border-radius: 12px;

      svg {
        margin-bottom: 20px;
      }
    }
  }
}

#contact {
  background: url(../assets/images/Background_Contacts.png) center/cover no-repeat;
  height: 787px;
  padding-block: 128px 200px;
  justify-content: center;

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 48px;
  }

  .links {
  grid-template-columns: 468px;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  row-gap: 16px;

  .social-button {
    background-color: var(--gray-400);
    gap: 12px;
    padding: 20px;
    border-radius: 8px;

    transition: 0.45s cubic-bezier(0.4, 0, 0.2, 1);

    svg {
      color: var(--gray-100);
      transition: 0.45s ease; 
    }

    svg:nth-of-type(2) {
      margin-left: auto;
    }
  }

  .social-button:hover {
    border: 1px solid var(--blue);
    transform: scale(1.02);
    color: var(--blue);

    svg {
      color: var(--blue);
    }
  }
}

}
