/* utilitys */
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.container {
  padding-inline: 120px;
}

/* font-size */

h1 {
  font: var(--text-lg);
}

.title-md {
  font: var(--title-md);
}

.title-sm {
  font: var(--title-sm);
}

.text-md {
  font: var(--text-md);
}

span {
  font: var(--subtitle);
}

p {
  font: var(--text-sm);
}

/* font-size  */

/* color-base */

.gray-600 {
  color: var(--gray-600);
}

.gray-400 {
  color: var(--gray-400);
}

.gray-300 {
  color: var(--gray-300);
}

.gray-200 {
  color: var(--gray-200);
}

.gray-100 {
  color: var(--gray-100);
}

/* colors-main */

.red {
  color: var(--red);
}

.purple {
  color: var(--purple);
}

.blue {
  color: var(--blue);
}

.green {
  color: var(--green);
}

.yellow {
  color: var(--yellow);
}