/* utilitys */
.grid {
  display: grid;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.container {
  padding-inline: 120px;
}

h1 {
  font: var(--text-lg);
}

h3 {
  font: var(--text-md);
}

span {
  font: var(--subtitle);
}

p {
  font: var(--text-sm);
}

.gray-400 {
  color: var(--gray-400);
}

.gray-300 {
  color: var(--gray-300);
}

.gray-200 {
  color: var(--gray-200);
}

/* colors */

.red {
  color: var(--red);
}

.purple {
  color: var(--purple);
}

.blue {
  color: var(--blue);
}

.green {
  color: var(--green);
}

.yellow {
  color: var(--yellow);
}